<div class="container">
    <form #f="ngForm" (ngSubmit)="onLogIn(f)" class="form">
        <h1>Login</h1>
        <label>
            Email
            <input
                type="email"
                placeholder="example@mail.com"
                name="email"
                required
                #emailField="ngModel"
                [(ngModel)]="email"
            />
            <span
                class="error-message"
                *ngIf="emailField.touched && emailField?.hasError('required')"
                >This field is required</span
            >
        </label>

        <label>
            Password
            <input
                type="password"
                name="password"
                placeholder="************"
                required
                #passwordField="ngModel"
                [(ngModel)]="password"
            />
            <span
                class="error-message"
                *ngIf="
                    passwordField.touched && passwordField?.hasError('required')
                "
                >This field is required</span
            >
        </label>

        <button type="submit" class="button-submit" [disabled]="!f.valid">
            Login
        </button>
    </form>
</div>
