<div class="container">
    <form #f="ngForm" (ngSubmit)="onLogIn(f)" class="form">
        <h1>{{ 'LOGIN_PAGE.LOGIN_FORM.TITLE' | translate }}</h1>
        <label>
            {{ 'LOGIN_PAGE.LOGIN_FORM.EMAIL_FIELD.LABEL' | translate }}
            <input
                type="email"
                placeholder="example@mail.com"
                name="email"
                required
                #emailField="ngModel"
                [(ngModel)]="email"
            />
            <span
                class="error-message"
                *ngIf="emailField.touched && emailField?.hasError('required')"
                >{{ 'FORM.ERRORS.REQUIRED_FIELD' | translate }}</span
            >
        </label>

        <label>
            {{ 'LOGIN_PAGE.LOGIN_FORM.PASSWORD_FIELD.LABEL' | translate }}
            <input
                type="password"
                name="password"
                placeholder="************"
                required
                #passwordField="ngModel"
                [(ngModel)]="password"
            />
            <span
                class="error-message"
                *ngIf="
                    passwordField.touched && passwordField?.hasError('required')
                "
                >{{ 'FORM.ERRORS.REQUIRED_FIELD' | translate }}</span
            >
        </label>

        <button type="submit" class="button-submit" [disabled]="!f.valid">
            {{ 'LOGIN_PAGE.LOGIN_FORM.SUBMIT_BUTTON' | translate }}
        </button>
    </form>
</div>
