<label class="label" [formGroup]="form!">
    Authors:
    <!--    <select name="authors" required [formControlName]="controlName" multiple>-->
    <!--        <option *ngFor="let author of authors$ | async" [value]="author">-->
    <!--            {{ author.name }}-->
    <!--        </option>-->
    <!--    </select>-->

    <div class="select-container" role="textbox">
        <div [formControlName]="controlName" class="chips">
            <div *ngFor="let option of chosenAuthors">
                {{ option.name
                }}<span (click)="onDeleteOption(option)" class="deleteIcon"
                    >x</span
                >
            </div>
        </div>

        <input
            name="authors"
            required
            (keyup)="onInputChange($event)"
            [(ngModel)]="value"
            [ngModelOptions]="{ standalone: true }"
        />
    </div>
    <div *ngIf="value" class="dropdown">
        <span *ngIf="(authors$ | async)?.length === 0">No data</span>

        <option
            *ngFor="let author of authors$ | async"
            [value]="author"
            (click)="onOptionClick(author)"
        >
            {{ author.name }}
        </option>
    </div>
</label>
