<div class="container" [appCourseBorder]="course?.creationDate!">
    <div class="info">
        <h2>{{ course?.title }}</h2>

        <div>
            <span>{{ course?.duration }} min</span>
            <span>{{ course?.creationDate | date : 'MM/dd/yyyy' }}</span>
        </div>
    </div>

    <div class="row">
        <p>{{ course?.description }}</p>
        <div class="buttons">
            <button (click)="onEdit()">Edit</button>
            <button class="delete-button" (click)="onDelete()">Delete</button>
        </div>
    </div>
</div>
