<app-courses-header></app-courses-header>
<ng-container
    *ngIf="
        loaderService.isLoading || (coursesCount$ | async)! > 0;
        else elseBlock
    "
>
    <ul class="container">
        <li *ngFor="let course of courses$ | async; trackBy: courseTrackBy">
            <app-course
                [course]="course"
                (courseDeleted)="onDeleteCourse($event)"
            ></app-course>
        </li>
    </ul>
    <button class="load-button" (click)="onLoadMoreClick()">Load more</button>
</ng-container>
<ng-template #elseBlock>
    <div class="no-data">No data. Feel free to add new courses</div>
</ng-template>
