<ng-container *ngIf="coursesService.courses?.length; else elseBlock">
    <ul class="container">
        <li
            *ngFor="
                let course of coursesService.courses;
                trackBy: courseTrackBy
            "
        >
            <app-course
                [course]="course"
                (courseDeleted)="onDeleteCourse($event)"
            ></app-course>
        </li>
    </ul>
    <button
        *ngIf="!coursesEnded"
        class="load-button"
        (click)="onLoadMoreClick()"
    >
        Load more
    </button>
</ng-container>
<ng-template #elseBlock>
    <div class="no-data">No data. Feel free to add new courses</div>
</ng-template>
