.container {
    height: 60px;
    background-color: #303240;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-right: 85px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
