.root-container {
    background-color: #f5f6fa;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex: 1 0 auto;

    main {
        max-width: 1110px;
        margin: 0 auto;
        padding: 24px 0 84px 0;
    }
}
