.footer {
    height: 60px;
    background-color: #303240;
    position: fixed;
    bottom: 0;
    width: 100%;
    //position: sticky;
    //top: 0px;
    //z-index: 1001;
    //left: 0;
    //right: 0;
    padding-right: 85px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    > * {
        color: #ffffff;
    }
}
