@import 'mixins';

.add-edit-form-container {
    @include form;

    .form {
        width: 730px;

        > label,
        .label {
            margin-bottom: 12px;
        }

        .buttons {
            display: flex;
            align-self: flex-end;
            column-gap: 12px;
        }
    }
}
