@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

html {
    &,
    body {
        min-height: 100vh;
    }

    body {
        margin: 0;

        * {
            font-size: 14px;
            color: #333333;
            box-sizing: border-box;
            font-family: 'Source Sans Pro', sans-serif;
        }

        h1,
        h2,
        p {
            margin: 0;
        }

        button {
            cursor: pointer;
        }
    }
}
